*{
  background-color: $defaultBackGroundColor;
  color: $defaultTextColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  padding: 0px;
  margin: 0px;
}

header{

}

footer{
  padding: 2px;
  text-align: center;
}

.container{
  text-align: center;
}
