* {
  background-color: #ffffff;
  color: #000;
  font-family: Tahoma;
  font-size: 18px;
  padding: 0px;
  margin: 0px; }

footer {
  padding: 2px;
  text-align: center; }

.container {
  text-align: center; }

.App {
  text-align: center; }
